.Contact {
    text-align: center;
    background-image: url('../../Images/group.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    height: 1400px;
}

.image {
    border: 1px solid black;
    border-radius: 30px;
    box-shadow: 2px 2px rgb(255, 54, 155);
}

.titleText {
    color: white;
    text-shadow: 3px 3px  black;
    font-size: 70px;
    text-align: center;
    text-shadow: 3px 3px  rgb(255, 54, 155);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 50px;
    margin-bottom: 40px;
}
.linksToMe {
    padding: 5px;
    text-align: left;
    text-shadow: 1px 1px  black;
    color: white;
    font-size: 25px;
}

.contactTitle {
    color: white;
    text-shadow: 3px 3px  black;
    font-size: 50px;
    text-align: center;
    text-shadow: 3px 3px  rgb(255, 54, 155);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 20px;
}

.textEdit {
    text-align: left;
    text-shadow: 2px 2px  black;
    color: white;
    font-size: 25px;
}

.imgBottom {
    margin-top: 50px;
    margin-bottom: 50px;
}

.imgGif {
    border: 1px solid black;
    border-radius: 10%;
    box-shadow: 3px 3px rgb(255, 54, 155);
}

.aText {
    font-size: 25px;
    color: white;
    text-overflow: ellipsis;
}

.aText:hover {
    color: white;
    opacity: 0.8;
    text-decoration-color: #ed308b
}

.linkName {
    color: white;
    text-shadow: 3px 3px rgb(255, 54, 155);
    font-size: 30px;
}