.Books {
    background-image: url('../../Images/town3.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    height: 1900px;
}

.title {
    color: white;
    text-shadow: 3px 3px  black;
    font-size: 70px;
    text-align: center;
    text-shadow: 3px 3px  rgb(255, 54, 155);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 50px;
    margin-bottom: 40px;
}

.bookContainer {
    text-align: center;
    border: 1px solid black;
    background-color: #eddcc4;;
    border-radius: 10px;
}

.bookFlex {
    display: flex;
    flex-wrap: wrap;
}

.moreSpace {
    margin-bottom: 50px;
}

