.Staff {
    text-align: center;
    background-image: url('../../Images/town4.png');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    height: 1200px;
}

.StaffTitle {
    color: white;
    text-shadow: 3px 3px  black;
    font-size: 70px;
    text-align: center;
    text-shadow: 3px 3px  rgb(255, 54, 155);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 50px;
}

.Titles {
    color: white;
    font-size: 50px;
    text-align: center;
    text-shadow: 3px 3px  rgb(255, 54, 155);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.Cast {
    text-align: center;
    color: white;
    margin: 5px auto;
}

.Names {
    text-align: center;
}

.color1 {
    color: #ed308b;
}

.color2 {
    color: #F08300;
}

.color3 {
    color: #2d91d0;
}

.color4 {
    color: #369c0e;
}

.staffCastNames {
    font-size: 25px;
}



