.singleImage {
    word-wrap: break-word;
    text-align: center;
    margin: 15px;
    max-width: 230px;
    flex-wrap: wrap;
    display: flex;
    font-size: 15px;
}

.singleImage:hover {
    opacity: 0.8;
}


.imgSize {
    width: 80%;
    height: 80%;
}

.text {
    color: #ed308b;
    margin-bottom: 10px;
}

.text:hover {
    text-decoration-color: #ed308b;
}

.textMargin {
    margin: 5px auto;
}

